debug
codegen
*.local
*.class
javadoc
Thumbs.db
*.classpath
*.project
*.prefs
*.component
*.container
*.name
ckez/target/*
*/.settings/*.prefs
*/.settings/*.component
*/.settings/*.xml
test/addon/ckeztest/.settings